[submodule "AT Audio Player/external/SoLoud"]
	path = AT Audio Player/external/SoLoud
	url = https://github.com/IsakTheHacker/soloud
[submodule "AT Audio Player/external/ConTerLib"]
	path = AT Audio Player/external/ConTerLib
	url = https://github.com/IsakTheHacker/ConTerLib
